
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Omkar Jagtap</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/omkarlinkedin.png' %}" >
					<hr>
					<h4>Hi I'm Omkar!</h4>
					<p>I love coding, research & developing </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Full Stack • Embedded • Robotics • Automation & Testing</h4>
					<hr>
					<p>• Proficient  in Object-Oriented Design, Data Structures, algorithms and problem solving skills</p>
					<p>• Experience with embedded architectures and real time systems with solid understanding of C/C++ programming ,OS concepts and familiarity with assembly level programming and front-end development </p>
					<p>• 2+ years’ experience with Embedded firmware, software design, development and testing with a focus on building customer-oriented real-time IoT applications and a solid understanding of ARM Cortex-M and Arduino microcontrollers </p>
					<hr>
					<h6>Certifications: Udacity Nanodegree 1) Robotics Software Engineer 2) Full Stack Web Developer </h6>
					<h6>LinkedIn Learning : Python Automation & Testing </h6>
					<hr>
					<h6><h6> Good at: Features • Bug fixes • Scripts • Databases • Internal Tools • Documentation </h6></h6>
					<hr>
					<ul class="social-links">
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/GitHub-Mark.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience as a Developer</h5>
					<hr>
					<h6>Software Developer </h6>
					<p>• Contributed to designing, developing  IoT applications as per the client’s requirement, resulting customer satisfaction</p>
					<p>• Interfaced and troubleshot temperature, pressure, proximity, humidity, ultrasonic sensors, servos in C++ with hardware </p>
					<p>• Performed hardware-software integration using WIFI module and Bluetooth module </p>
					<p>• Collaborated to reconstruct the company’s website to add multiple features and redesigned it using JavaScript & Bootstrap</p>
					<p>• Participated in the product development life-cycle stages from design, development, verification, and testing</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<h6>My Tech Stack</h6>
					<p>• <strong>Programming Languages:</strong>C++, Python, Embedded C, VHDL, Verilog, HTML5, CSS3, JavaScript, ReactJS</p>
					<p>• <strong>Databases and OS:</strong>SQL, AWS, ThingSpeak, Firebase, Linux, Windows, macOS, RTOS  </p>
					<p>• <strong>Libraries:</strong>Pandas, NumPy, matplotlib, scikit-learn </p>
					<p>• <strong>Communication Protocols:</strong>TCP/IP, SPI, I2C, UART, CAN, Bluetooth Low Energy (BLE), Wi-Fi, USB  </p>
					<p>• <strong>Lab Instruments:</strong>Logic Analyzers, Oscilloscope, Multimeter</p>
					<p>• <strong>Hardware :</strong>ARM, STM32, TivaC, RaspberryPi, Arduino</p>
					<p>•<strong>Software/Tools:</strong>Jupyter Notebook, Keil uVision, Xilinx, MS Office, GIT, Jenkins, JIRA, Selenium</p>
			
					<p>PS: Working on Django Node JS, Mongo DB and Machine Learning for development of scalable web application</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn</h5>
					<hr>
					<p> Read • Write • Develope </p>
					<p>I love developing applications by reading & writing about it a lot. I break the code where I need to figure out why things work the way they do.</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>I like to build scalable products for solving problems</p>
				<p>Aside from building small projects I would love to enter a position where I can be part of a bigger team & learn from others with more experience than myself.</p>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>